<main>

  <div class="container-fluid" style="margin-top: 20px">
    <div class="row">
      <%= render 'admin/genres/genre_search', genres: @genres %>
      <div class="col-lg-7" style="background-color: green;">
        <div style="margin-top: 20px; background-color: yellow;">
          <p>ようこそ、ながのCAKEへ！<br>
             このサイトは、ケーキ販売のECサイトになります。<br>
             会員でない方も商品の閲覧はできますが、<br>
             購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 offset-2 h3" style = "padding-left: 0; margin-top: 20px;">
        新着商品
      </div>
    </div>

    <div class = "row">
      <div class= "col-2"></div>

    <!--新着順に出てこない-->
    <% @items.each do |item| %>
      <div class = "col-2">
        <div>
          <%= image_tag item.image, size: '200x200' %>
        </div>
        <div>
          <%= item.name %>
        </div>
        <div>
          ￥<%= item.add_tax_price.to_s(:delimited) %>
        </div>
      </div>
    <% end %>
    </div>

    <div class = "row" style = "text-align:right;">
      <div class = "col-2 offset-8">
        全ての商品を見る＞
      </div>

    </div>


  </div>

</main>