  <div class = "col-2">
    <table class = "table table-bordered border-primary">
      <tr>
        <th style = "text-align: center">
          ジャンル検索
        </th>
      </tr>
      <tr>
        <th>
          <% genres.each do |genre| %>
          <%= genre.name %><br><br>
          <% end %>
        </th>
      </tr>
    </table>
  </div>